h1 {
    color: brown
}
.welcome {
color: rgb(231, 18, 18);
    
}

.color-black {
  color: black;
}

.color-brown {
    color: brown;
  }

  .color-white {
    color: aliceblue;
  }

.name {
    color: green;
    background-color: rgb(33, 53, 202);
    font-size: 40px;
    border: 3px dashed rgb(229, 255, 0);
    text-align: center;
  }
  

